{% extends 'layout.html.twig' %}
{% set adminMenu = true %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    <div class="back">
        <div class="container">
            <div class="container-inner">
                <div class="well span9 offset1">
                    <h2 class="text-center">{{ block('title') }}</h2>
                    {% for flashMessage in app.session.flashbag.get('success') %}
                        <div class="alert alert-success">
                            {{ flashMessage }}
                        </div>
                    {% endfor %}
                    <hr>
                    {{ form_start(articleForm, { 'attr': {'class': 'form-horizontal'} }) }}
                    <fieldset>
                        <br/>
                        <div class="form-group">
                            {{ form_label(articleForm.title, null, { 'label_attr':  {
                                'class': 'col-sm-2 control-label'
                            }}) }}
                            <div class="col-sm-9">
                                {{ form_errors(articleForm.title) }}
                                {{ form_widget(articleForm.title, { 'attr':  {
                                    'class': 'form-control'
                                }}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(articleForm.content, null, { 'label_attr':  {
                                'class': 'col-sm-2 control-label'
                            }}) }}
                            <div class="col-sm-9">
                                {{ form_errors(articleForm.content) }}
                                {{ form_widget(articleForm.content, { 'attr':  {
                                    'class': 'form-control',
                                    'rows': '8'
                                }}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-5 ">
                                <input type="submit" class="btn btn-primary" value="Save"/>
                            </div>
                        </div>
                    </fieldset>
                    {{ form_end(articleForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}